<nav class="nav bg-light nav-align">
    <ul>
        <li class="nav-item">
            <%= link_to "Usuarios", root_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Nuevo Usuario", :new_user, class:"nav-link"%>
        </li>
    </ul>
</nav>
